.app-header {
  background-image: url('./assets/images/header-background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem 0;
}

.app-header .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 1rem;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-form input {
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
  border: none;
  outline: none;
}

.search-form select {
  padding: 0.25rem 0.5rem;
}

.search-form .filters-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.filter label {
  color: white;
}

.found-items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 1rem 0;
}

.found-items-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.book {
  width: 15%;
  padding: 1rem;
  background-color: #f3f2f1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;

  cursor: pointer;
}

.book__cover {
  width: 80%;
  display: block;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
  align-self: center;
}

.book__category a,
.book__authors {
  color: #96918e;
}

.book__title {
  font-weight: 700;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  margin: 2rem 0;
  color: white;
  background-color: #008f40;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #00411d;
}
